@page "/search"
@inject HttpClient HttpClient
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<h1>Search for interesting stocks </h1>

<SearchComponent />

@code {

}
